.headerNavigation {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.headerNavigationItems {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}
.headerNavigationTitle{
    text-decoration: none;
    color: white;
}
.headerNavigationLink {
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.headerNavigationLink:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease 0.5s;
}